@charset "utf-8";
.head {
	background-color: #6CF;
	float: left;
	height: 150px;
	width: 768px;
	margin-left: 200px;
}
.body{
	float: left;
	height: 924px;
	width: 768px;
	margin-left: 200px;
	background-image: url(Img/allbody.jpg);
	
}
.tail{
	float: left;
	height: 150px;
	width: 768px;
	margin-left: 200px;
	background-image: url(Img/tail.jpg);
	
}
